{
    "hosts": [
        {
            "host": "127.0.0.1",
            "ports": [8001, 8002, 8003, 8004, 8005, 8006, 8007, 8008]
        },
        {
            "host": "localhost",
            "range": {
                "start": 8001,
                "end": 8008
            }
        }
    ],
    "verbose": false,
    "port": 80
}